language: go
go:
  - "1.10.x"

cache:
  directories:
    - $HOME/.ccache

env:
  - DOCKER_IMG_VERSION=0.1

matrix:
  include:
    - os: linux
      dist: trusty
      sudo: required
      before_install:
        - sudo apt-get install jq
    - os: osx
      osx_image: xcode10.1
      before_install:
        - HOMEBREW_NO_AUTO_UPDATE=1 brew install jq
        - HOMEBREW_NO_AUTO_UPDATE=1 brew cask info tuntap
        - mkdir -p ~/.local/bin
        - export PATH=/usr/local/opt/ccache/libexec:$HOME/.local/bin:$PATH
        - ln -sf /usr/local/bin/gsha256sum ~/.local/bin/sha256sum
    - os: osx
      osx_image: xcode10.2
      before_install:
        - HOMEBREW_NO_AUTO_UPDATE=1 brew install jq
        - HOMEBREW_NO_AUTO_UPDATE=1 brew cask info tuntap
        - mkdir -p ~/.local/bin
        - export PATH=/usr/local/opt/ccache/libexec:$HOME/.local/bin:$PATH
        - ln -sf /usr/local/bin/gsha256sum ~/.local/bin/sha256sum

before_install:
  - go vet ./...

script:
  - bash -ex test/standalone-test.sh
  - bash -ex test/docker-oci-test.sh
  - bash -ex test/containerd-ctr-test.sh
  - bash -ex test/docker-dockerd-test.sh

